body {
  box-sizing: border-box;
  background: linear-gradient(to right, rgb(100, 100, 100), #7390b0);
}

input:focus {
  outline: 2px solid black;
}

input {
  background: linear-gradient(to right, #a6c487, #00ff40);
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid rgb(100, 100, 100);
  border-radius: 4px;
  resize: none;
}

input[type="text"]::placeholder {
  font-weight: bold;
  color: #b36565;
  font-style: italic;
}

option:hover {
  cursor: pointer;
}

.list {
  font-family: Consolas, monospace;
}